.login-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-stack-cont {
  border: 1px solid lightgray;
  padding: 50px 60px;
  border-radius: 6px;
}

.form-stack-cont img {
  max-width: 160px;
  height: auto;
  margin-bottom: 10px;
}

.form-stack-cont input {
  display: block;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
  background: #f2f2f2;
  border-radius: 6px;
}

.login-button {
  margin-top: 20px;
  background: #3498db;
  outline: none;
  border: none;
  width: 229px;
  color: white;
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-bottom: 10px;
}

.login-button:hover {
  background: #49acee;
}

.forgot-pass {
  cursor: pointer;
}

.forgot-pass:hover {
  text-decoration: underline;
}